.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
h1 {
    color: blueviolet;
    font-size: 35px;
    margin: 0;
}
ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    padding: 15px 0 0 15px;
}
a {
    text-decoration: none;
    color: blueviolet;
    cursor: pointer;
}
input {
    flex: 1;
    height: 38px;
    color: blueviolet;
    border: 1px solid blueviolet;
    border-right: none;
}
button {
    height: 38px;
    color: blueviolet;
    border: 1px solid blueviolet;
    border-left: none;
}
.nav-search {
    flex: 1;
    display: flex;
    margin: 0 5%;
}
.suggested-links {
  position: absolute;
  top: 58px;
  z-index: 10;
  display: list-item !important;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 300px;
}
.suggested-search li {
    padding:5px;
    border: 1px solid #ddd;
}
.suggested-search li a{
    cursor: pointer;
    color: blueviolet;
}
@media only screen and (max-width: 767px) {
    .nav-search {
      margin: 0;
    }
}
@media only screen and (max-width: 437px) {
    li:first-child {
      padding-left: 0;
    }
}
